
// ARCHIVE

.archive
	+_(container)
	max-width: em(832,26)

.archive-item
	display: block
	padding: em(52,26) 0
	border-bottom: 1px solid #ccc

.archive-title
	font-size: em(64,26)
	font-weight: bold
	line-height: 1.2
	font-family: $font-headlines

.archive-date
	color: #bbb
	font-family: $font-headlines
	font-weight: bold
	font-size: em(26,26)

.archive-preview
	margin-top: em(26,26)
	font-weight: normal
