
// ARCHIVE

.archive
	+_(container)
	max-width: em(832,26)
	font-family: $font-headlines

.archive-item
	display: block
	padding: em(52,26) 0
	border-bottom: 1px solid #ccc

.archive-title
	font-size: em(64,26)
	font-weight: bold
	line-height: 1.2

.archive-date
	color: #bbb
	font-weight: bold
