/**
 * Article Component
 *
 * @author Maximilian Hoffmann
 */

.article {
  @extend %centered;
  @include padding-bottom(48px);
  border-bottom: 1px solid #ddd;
  max-width: 480px;

  pre {
    background: white;
    width: 114%;
    margin-left: -7%;

    @media (min-width: 34.375em) {
      border-radius: 4px;
      @include box-shadow(0 1px 3px rgba(0,0,0,.2));
    }
  }

  p code {
    @include margin(0 1px);
    @include padding(4px 5px);
    @include font-size(14px);
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    color: hsl(209, 56%, 47%);
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  @media (min-width: 48em) {
    & {
      @include padding-top(80px);
    }
  }

}

.article-title a {
  color: #333;
}

h4 {
  color: hsl(0, 0%, 75%);
  font-weight: 400;
}

.article li {
  line-height: 2;
}

h4,
.article p {
  @include padding-bottom(24px);
}

.image-inline {
  @include margin-top(32px);
  @include margin-bottom(48px);
  display: block;
  margin-left: -7%;
  width: 114%;

  img {
    width: 100%;
  }

  @media (min-width: 20.0625em) {
    @include margin(32px auto 48px auto);
    width: 90%;
    border: 10px solid white;
    border-radius: 6px;
    @include box-shadow(0 1px 3px rgba(0,0,0,.2));

    img {
      border-radius: 3px;
    }
  }
}