/**
 * Header Component
 *
 * @author Maximilian Hoffmann
 */

.blog-title {
  @include font-size(16px);
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;

  a {
    color: hsl(0, 0%, 75%);

    &:hover {
      color: hsl(0, 0%, 50%);
    }

  }

  .wf-inactive & {
    @include font-size(15px);
  }

}

.nav-link {
  color: hsl(0, 0%, 75%);
  @include padding(0 24px);

  &:hover {
    color: hsl(0, 0%, 50%);
  }

  @media (min-width: 48em) {

    &:last-child {
      @include padding-right(0);
    }

  }
}

.nav-horizontal {
  @extend %nav-horizontal;
  width: 100%;
  text-align: center;
}